<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<main class="main-content " role="main">

    <div class="product-template" itemscope="" itemtype="http://schema.org/Product">

        <div class="advanced-subscription">
            <div class="sub-header-container">
                <div class="subscription-header-image-container">
                    <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/adventure-soap-club-photo-light-tint.jpg?16087349012151506956" />
                    <div class="header-image-text">
                        <h1>THE ADVENTURE SOAP CLUB</h1>
                        <p class="header-image-subtitle-text">It's easy to join! Simply choose the quantity and variety of soaps from the selection below, sit back, and enjoy automatic soap shipments at a discounted rate.</p>
                    </div>
                </div>
            <div class="subscription-info-container">
                <center>
                    <div class="floating-icon-containter">
                        <div class="icon-circle-container">
                            <div class="icon-circle-icon-containter">
                                <i style="font-size: 50px; color: white;" class="material-icons">local_shipping</i>
                            </div>
                        </div>
                            <h4 class="floating-icon-name">Free Shipping</h4>
                        </div>
                    <div class="floating-icon-containter">
                        <div class="icon-circle-container">
                            <div class="icon-circle-icon-containter">
                                <i style="font-size: 50px; color: white;" class="material-icons">money_off</i>
                            </div>
                        </div>
                            <h4 class="floating-icon-name">$1 off each bar</h4>
                        </div>
                    <div class="floating-icon-containter">
                        <div class="icon-circle-container">
                            <div class="icon-circle-icon-containter">
                                <i style="font-size: 50px; color: white;" class="material-icons">sentiment_very_satisfied</i>
                            </div>
                        </div>
                            <h4 class="floating-icon-name">Hassle free</h4>
                        </div>
                    <div class="floating-icon-containter">
                        <div class="icon-circle-container">
                            <div class="icon-circle-icon-containter">
                                <i style="font-size: 50px; color: white;" class="material-icons">cancel</i>
                            </div>
                        </div>
                            <h4 class="floating-icon-name">Cancel any time</h4>
                        </div>
                    </center>
            </div>
                </div>
<!--                    <h1 class="advanced-subscription-title">JOIN THE ADVENTURE SOAP CLUB</h1>-->
                    <br>
<!--
            <p class="advanced-subscription-subtitle">-Free Shipping (when you choose the eco-friendly, quarterly shipping option)</p>
            <p class="advanced-subscription-subtitle">-$1 off each bar of soap. A discount only available to Soap Club Members</p>
            <p class="advanced-subscription-subtitle">-The absolute highest quality handcrafted soap, delivered to your door, hassle-free</p>
-->
                <br>
            
            
            
            
            
            <form action="/cart/add" data-productid="50041028621" method="post">

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

                <!--Soap Subcription - bars per month -->
                <div class="advanced-subscription-fieldset">
                    <h3 class="advanced-subscription-fieldset-legend">How Many Bars per Month?</h3>
                    <div class="advanced-subscription-column one-fourth">
                        <div class="advanced-subscription-option large" data-field="soap_per_month" data-value="1" data-associated-variant-field="product-select-option-0" data-associated-variant-value="1 per month">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/1_soap.jpg?15288966640979976571" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">1 Bar ($6)</h4>
                            <p class="advanced-subscription-option-description">Light Showering</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-fourth">
                        <div class="advanced-subscription-option large selected" data-field="soap_per_month" data-value="2" data-associated-variant-field="product-select-option-0" data-associated-variant-value="2 per month">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/2_soaps.jpg?15288966640979976571" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">2 Bars ($12)</h4>
                            <p class="advanced-subscription-option-description">Daily Showers</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-fourth">
                        <div class="advanced-subscription-option large" data-field="soap_per_month" data-value="3" data-associated-variant-field="product-select-option-0" data-associated-variant-value="3 per month">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/3_soaps.jpg?15288966640979976571" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">3 Bars ($18)</h4>
                            <p class="advanced-subscription-option-description">Daily Showers for couple or small family</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-fourth">
                        <div class="advanced-subscription-option large" data-field="soap_per_month" data-value="4" data-associated-variant-field="product-select-option-0" data-associated-variant-value="4 per month">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/4_soaps.jpg?7919226540664322761" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">4 Bars ($24)</h4>
                            <p class="advanced-subscription-option-description">An adventure for the whole family</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                </div>

                <!--      Soap subscription - delivery frequency        -->
                <div class="advanced-subscription-fieldset">
                    <h3 class="advanced-subscription-fieldset-legend">How Often Should We Ship?</h3>
                    <div class="advanced-subscription-column half">
                        <div class="advanced-subscription-option large" data-field="shipping_interval_frequency" data-value="1" data-associated-variant-field="product-select-option-1" data-associated-variant-value="Monthly">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Monthly-200x200.png?15602795642295412649" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Monthly</h4>
                            <p class="advanced-subscription-option-description">Add $2 for shipping.</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                    <div class="advanced-subscription-column half">
                        <div class="advanced-subscription-option large selected" data-field="shipping_interval_frequency" data-value="3" data-associated-variant-field="product-select-option-1" data-associated-variant-value="Quarterly">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/Quarterly-200x200.png?15602795642295412649" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Quarterly</h4>
                            <p class="advanced-subscription-option-description">Free Shipping (Recommended)</p>
                            <p class="advanced-subscription-option-description">*Part of our vision is reducing waste, packaging, and fuel for shipping</p>
                            <i class="advanced-subscription-option-checkmark">✓</i>
                        </div>
                    </div>
                </div>

                <!--              Soap subscription - type of soap -->
                <div class="advanced-subscription-fieldset">
                    <h3 class="advanced-subscription-fieldset-legend">What Type of Soap? <u>Choose <span class="soap-quantity-number">6</span></u></h3>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="Alpine Start" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_alpine_start-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Alpine Start</h4>
                            <p class="advanced-subscription-option-description">Lose the snooze, here's your morning wake up call!</p>
                            <p class="advanced-subscription-option-description">Minty. Invigorating. Fresh. </p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="Alpine Start" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="Dawn Patrol" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_dawn_patrol-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Dawn Patrol</h4>
                            <p class="advanced-subscription-option-description">A citrus soap to match your stoke.</p>
                            <p class="advanced-subscription-option-description">Uplifting. Motivating. Mood-boosting.</p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="Dawn Patrol" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="Peak Season" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_protective-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Peak Season</h4>
                            <p class="advanced-subscription-option-description">Just think of the view from the top.</p>
                            <p class="advanced-subscription-option-description">Spicy. Sexy. Immune Boosting.</p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="Peak Season" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="Elevate" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_ripple-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Elevate</h4>
                            <p class="advanced-subscription-option-description">Give your Mind, Body &#38; Spirit a lift.</p>
                            <p class="advanced-subscription-option-description">Peaceful. Serene. Calming.</p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="Elevate" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="Tea Tree" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_tea_tree-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">Tea Tree</h4>
                            <p class="advanced-subscription-option-description">The go-to for problematic skin.</p>
                            <p class="advanced-subscription-option-description">Medicinal. Balancing. Healing.</p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="Tea Tree" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                    <div class="advanced-subscription-column one-third">
                        <div class="advanced-subscription-option large soaps" data-field="soap_type" data-value="True Grit" data-multiple="true">
                            <img src="https://cdn.shopify.com/s/files/1/2458/1997/files/soap_icon_true_grit-200-292.png?8818091748119410548" alt="" class="advanced-subscription-option-image small-height">
                            <h4 class="advanced-subscription-option-name">True Grit</h4>
                            <p class="advanced-subscription-option-description">Our most rugged soap. SERIOUSLY.</p>
                            <p class="advanced-subscription-option-description">Intense. Exfoliating. Woodsy.</p>
                            <!--     Quantity selector                   -->
                            <center>
                                <div class="plus_container">
                                    <div class="count-input space-bottom">
                                        <a class="incr-btn" data-action="decrease" href="#">–</a>
                                        <input class="quantity" type="text" name="True Grit" value="0" disabled/>
                                        <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <!--      Soap subscription - Extra's        -->
                <div class="advanced-subscription-fieldset">
                    <h3 class="advanced-subscription-fieldset-legend">Yes, please include the following items to my order at no additional shipping cost!</h3>

                    <!-- Display the soap deck extra's                    
                    {% for product in collections.soap-decks.products %}
                    <div class="advanced-subscription-column one-third">
                        <center>
                            <img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape  }}" class="advanced-subscription-option-image small-height" />
                            <h4 class="advanced-subscription-option-name">{{ product.title}} - {{ product.price | money }}</h4>
                            <button name="button" type="button" id="addExtraToCartButton" value="{{product.selected_or_first_available_variant.id}}" class="addExtraItemToCart">Add to Cart</button>
                        </center>
                    </div>
                    {% endfor %}

                     Display the lip balms extra's                    
                    {% for product in collections.lip-balm.products %}
                    <div class="advanced-subscription-column one-third">
                        <center>
                            <div class="soap-subscription-add-on-items-option">
                                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" class="advanced-subscription-option-image small-height" />
                                <h4 class="advanced-subscription-option-name">{{ product.title}} - {{ product.price | money}}</h4>
                                <button name="button" type="button" id="addExtraToCartButton" value="{{product.selected_or_first_available_variant.id}}" class="addExtraItemToCart">Add to Cart</button>
                            </div>
                        </center>
                    </div>
                    {% endfor %}-->
                    
                    <!-- Display the add on extra's collection                  -->
                    {% for product in collections.addons.products %}
                    <div class="advanced-subscription-column one-third">
                        <center>
                            <div class="soap-subscription-add-on-items-option">
                                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" class="advanced-subscription-option-image small-height" />
                                <h4 class="advanced-subscription-option-name">{{ product.title}} - {{ product.price | money}}</h4>
                                <button name="button" type="button" id="addExtraToCartButton" value="{{product.selected_or_first_available_variant.id}}" class="addExtraItemToCart">Add to Cart</button>
                            </div>
                        </center>
                    </div>
                    {% endfor %}

                </div>
                
                <p class="advanced-subscription-subtitle">We're pretty stoked for you to receive your first shipment!</p>

                <div class="advanced-subscription-column full">
                    <div class="add-to-cart">
                        <div class="product-form-submit-wrap">
                            <input id="add-to-cart" type="submit" value="Send it">
                            <!--<div class="add-to-cart-loader"></div>-->
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <!-- close itemscope -->

    <style>
        @font-face {
            font-family: 'bebas_neue_regularregular';
            src: url('bebasneue_regular-webfont.woff2') format('woff2'),
            url('bebasneue_regular-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }

        h1,
        h3,
        h4,
        p {
            font-family: 'bebas_neue_regularregular';
        }
        
        .icon-circle-container {
            border:1px solid white;
            height: 70px;
            border-radius: 50%;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon-circle-icon-containter {
            position: absolute;
        }
                
        .floating-icon-containter {
            display: inline-block;
            margin: 30px;
            height: 50px;

        }
        
        .subscription-info-container {
            background: #669966;
            width: 90%;
            min-height: 175px;
            position: absolute;
            margin: auto;
            top: 380px;
            right: 0px;
            left: 0px;
            z-index: 1;
        }
        
        @media (max-width: 720px) {
            .subscription-info-container {
            background: #669966;
            width: 90%;
            min-height: 175px;
            position: absolute;
            margin: auto;
            top: 280px;
            right: 0px;
            left: 0px;
            z-index: 1;
        }
            
        }
        
        .floating-icon-name {
            color: white;
        }
        
        .sub-header-container {
            height: 500px;
        }
        
        .header-image-subtitle-text {
            color: white;
        }
        
        .subscription-header-image-container {
            overflow: hidden;
            max-height: 300px;
            position: relative;
            text-align: center;
/*
            border-color: yellow;
            border-style: solid;
*/
        }
        
        .subscription-header-image-container img {
            width: 100%;
            
        }
        
        .header-image-text {
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            color: white;
            text-align: center;
            display: block;
            width: 100%;
            
        }    
        
        .subscription-title-container {
            position: relative;
            display: inline-block;
            height: 250px;
        }
        

        .AddExtraButtonClicked {
            background-color: #669966;
            color: white;
        }

        .AddExtraButtonClicked:focus {
            outline: none;
        }

        .advanced-subscription-fieldset {
            margin-bottom: 64px;
            /*            may need to remove the overflow auto as it is causing the image to go outside the div*/
            overflow: auto;
            zoom: 1;
        }

        .advanced-subscription-title {
            text-align: center;
            margin-top: 0;
        }

        .advanced-subscription-subtitle {
            text-align: center;
            font-size: 18px;
        }

        .advanced-subscription-column {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            padding: 8px;
        }

        .advanced-subscription-column.one-third {
            width: 33.333333%;
        }

        @media (max-width: 880px) {
            .advanced-subscription-column.one-third {
                width: 100%;
            }
        }

        .advanced-subscription-column.one-fourth {
            width: 25%;
        }

        @media (max-width: 1000px) {
            .advanced-subscription-column.one-fourth {
                width: 50%;
            }
        }

        .advanced-subscription-column.full {
            width: 100%;
        }

        .advanced-subscription-column.half {
            width: 50%;
        }

        .advanced-subscription-option {
            padding: 16px;
            border: 1px #ddd solid;
            cursor: pointer;
            position: relative;
        }

        .soap-subscription-add-on-items-option {
            position: relative;
            padding: 16px;

        }

        .advanced-subscription-option:hover {
            border: 1px solid #ff9933;
        }

        .advanced-subscription-option.selected {
            border: 3px solid #ff9933;
            padding: 14px;
        }

        .advanced-subscription-option.text-only {
            border: 1px #fff solid;
            padding: 16px 16px 0;
        }

        .advanced-subscription-option.text-only:hover {
            border: 1px solid #fff;
        }

        .advanced-subscription-option.selected.text-only {
            border: 3px solid #fff;
            padding: 14px;
        }

        .advanced-subscription-option-name {
            margin: 8px 0;
        }

        .advanced-subscription-option-description {
            font-size: 16px;
            font-style: italic;
            margin: 8px 0;
        }

        .advanced-subscription-option.selected .advanced-subscription-option-checkmark {
            background-color: #ff9933;
            border-color: #ff9933;
        }

        .advanced-subscription-option.large {
            text-align: center;
            font-weight: lighter;
        }

        .advanced-subscription-fieldset-legend,
        .advanced-subscription-fieldset-subheading {
            text-align: center;
        }

        .advanced-subscription-fieldset-subheading {
            font-size: 16px;
            margin-top: -10px;
        }

        .advanced-subscription-option-checkmark {
            width: 64px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            border: 1px #ddd solid;
            display: block;
            border-radius: 100%;
            font-size: 32px;
            font-weight: lighter;
            text-indent: -5px;
            color: #ffffff;
            transition: all .2s;
        }

        @media (min-width: 720px) {
            .advanced-subscription-option-checkmark {
                display: none;
            }
        }

        .advanced-subscription-option.mini .advanced-subscription-option-checkmark {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px #ddd solid;
            display: inline-block;
            border-radius: 0;
            font-size: 24px;
            color: #ddd;
        }

        .advanced-subscription-option.mini.selected .advanced-subscription-option-checkmark {
            border: 1px #1dc179 solid;
            color: white;
        }

        .advanced-subscription-option.mini .advanced-subscription-option-label {
            font-size: 18px;
            line-height: 40px;
            vertical-align: top;
            margin-left: 8px;
            font-style: italic;
            display: inline-block;
        }

        .advanced-subscription-option.mini {
            display: inline-block;
            border: 1px solid white;
        }

        .advanced-subscription-option.mini:hover {
            border: 1px solid white;
        }

        .advanced-subscription-option.mini.selected {
            border: 1px solid white;
            padding: 16px;
        }

        .advanced-subscription-option.mini.selected,
        .advanced-subscription-option.mini:hover {
            border-size: 0;
        }

        .advanced-subscription-option.large .advanced-subscription-option-checkmark {
            margin: 16px auto 0;
        }

        .advanced-subscription-option.small .advanced-subscription-option-checkmark {
            position: absolute;
            top: 16px;
        }

        .advanced-subscription-option.small .advanced-subscription-option-description {
            margin-left: 75px;
            margin-bottom: 0;
        }

        .advanced-subscription-option.small .advanced-subscription-option-name {
            margin-left: 75px;
        }

        .advanced-subscription .underlined {
            text-decoration: underline;
        }

        .advanced-subscription .plus {
            vertical-align: top;
        }

        .advanced-subscription input[type=submit] {
            display: block;
            height: 80px;
            margin: 0 auto;
            font-size: 32px;
            background-color: #FF9933;
        }

        .advanced-subscription .add-to-cart {
            margin-top: 0;
        }

        .advanced-subscription textarea {
            background-color: #f6f6f6;
            line-height: 1.5;
        }

        .advanced-subscription-summary {
            padding: 16px;
            border: 1px #ddd solid;
            width: 75%;
            margin-left: 12.5%;
            overflow: auto;
            zoom: 1;
            margin-bottom: 64px;
            border-radius: 5px;
        }

        .advanced-subscription-summary-legend {
            text-align: center;
        }

        .advanced-subscription-summary-image {
            float: left;
            width: 30%;
        }

        table.advanced-subscription-summary-table {
            float: left;
            width: 70%;
            border: none;
            margin: 0;
        }

        table.advanced-subscription-summary-table td {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: none;
            vertical-align: top;
            text-transform: uppercase;
            font-size: 16px;
            padding: 10px;
        }

        table.advanced-subscription-summary-table td:first-child {
            text-align: right;
        }


        .advanced-subscription .product-form-submit-wrap {
            display: block;
            width: 100%;
            margin: 0 auto;
        }

        @media (max-width: 720px) {
            /* layout */
            .advanced-subscription-column {
                padding: 0;
            }
            .advanced-subscription-column.one-fourth {
                width: 100%;
            }
            .advanced-subscription-column.half {
                width: 100%;
            }

            .main-content {
                padding-top: 60px;
                padding-left: 0;
                padding-right: 0;
            }

            .advanced-subscription-title {
                font-size: 28px;
                margin-bottom: 16px;
                padding: 0 16px;
            }
            .advanced-subscription-subtitle {
                font-size: 16px;
                padding: 0 16px;
                margin-top: 0;
            }
            .advanced-subscription-minititle {
                font-size: 12px;
                padding: 0 16px;
                margin-top: 0;
            }

            .advanced-subscription-fieldset-legend {
                font-size: 16px;
                padding: 0 16px;
            }

            .advanced-subscription-option {
                border: none;
                border-top: 1px #ddd solid;
                padding: 16px;
            }
            .advanced-subscription-option.selected,
            .advanced-subscription-option:hover {
                border: none;
                border-top: 1px #ddd solid;
                padding: 16px;
            }
            .advanced-subscription-option.last {
                border-bottom: 1px #ddd solid;
            }

            .advanced-subscription-option-image {
                float: right;
                vertical-align: middle;
                display: inline-block;
                height: 100%;
                width: 25%;

            }

            .advanced-subscription-option-image.small-height {
                /*
                top: 50%;
                margin-top: -25px;
                new stuff...
*/
            }

            .advanced-subscription-option.large .advanced-subscription-option-name,
            .advanced-subscription-option.large .advanced-subscription-option-description,
            .advanced-subscription-option.small .advanced-subscription-option-name,
            .advanced-subscription-option.small .advanced-subscription-option-description {
                text-align: left;
                padding-left: 56px;
                width: 100%;
                margin: 0;
            }

            .advanced-subscription-option.large .advanced-subscription-option-name,
            .advanced-subscription-option.large .advanced-subscription-option-description {
                padding-right: 88px;
            }



            .advanced-subscription-option.large .advanced-subscription-option-name,
            .advanced-subscription-option.small .advanced-subscription-option-name {
                font-size: 14px;
            }

            .advanced-subscription-option.large .advanced-subscription-option-description,
            .advanced-subscription-option.small .advanced-subscription-option-description {
                font-size: 13px;
            }

            .advanced-subscription-option.large .advanced-subscription-option-checkmark,
            .advanced-subscription-option.small .advanced-subscription-option-checkmark {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                position: absolute;
                left: 16px;
                top: 16px;
                margin: 0;
            }

            .advanced-subscription textarea {
                font-size: 16px;
                width: 90%;
                margin: 0 auto;
            }

            .advanced-subscription-summary {
                padding: 16px 8px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .advanced-subscription-summary-legend {
                font-size: 16px;
            }

            .advanced-subscription-summary-image {
                display: none;
            }

            table.advanced-subscription-summary-table {
                float: none;
                width: 100%;
            }

            table.advanced-subscription-summary-table td {
                font-size: 12px;
            }

            table.advanced-subscription-summary-table td:first-child {
                text-align: right;
            }

            .advanced-subscription input[type=submit],
            .advanced-subscription .product-form-submit-wrap {
                width: 255px;
                font-size: 20px;
                height: 64px;
                background-color: #FF9933;
            }

            .plus_container {
                text-align: left;
                padding-left: 56px;
                width: 100%;
                margin: 0;
            }

        }

        /*        For the plus minus increment buttons*/

        .count-input {
            position: relative;
            width: 100%;
            max-width: 165px;
            margin: 10px 0;
        }

        .count-input input {
            width: 100%;
            height: 36.92307692px;
            border: 1px solid #000;
            border-radius: 2px;
            background: none;
            text-align: center;
        }

        .count-input input:focus {
            outline: none;
        }

        .count-input .incr-btn {
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            font-size: 26px;
            font-weight: 300;
            text-align: center;
            line-height: 30px;
            top: 50%;
            right: 0;
            margin-top: -15px;
            text-decoration: none;
        }

        .count-input .incr-btn:first-child {
            right: auto;
            left: 0;
            top: 46%;
        }

        .count-input.count-input-sm {
            max-width: 125px;
        }

        .count-input.count-input-sm input {
            height: 36px;
        }

        .count-input.count-input-lg {
            max-width: 200px;
        }

        .count-input.count-input-lg input {
            height: 70px;
            border-radius: 3px;
        }
    </style>

    <script>
        $(".addExtraItemToCart").on("click", function(e) {
            var $extraButton = $(this);

            $extraButton.toggleClass('AddExtraButtonClicked');
            var extraButtonValueId = $extraButton.val();

            if ($extraButton.hasClass('AddExtraButtonClicked')) {
                $extraButton.html('Added to Cart');
            } else {
                $extraButton.html('Add to Cart');
            }

        });

        /*
        Code for increment buttons
        */
        $(".incr-btn").on("click", function(e) {

            var currentSoapTotal = $('.quantity').toArray().map((e) => parseInt($(e).val())).reduce((t, n) => t + n);
            var quantityLimit = window.chooseSoapNumber - 1;

            var $button = $(this);
            var oldValue = $button.parent().find('.quantity').val();
            $button.parent().find('.incr-btn[data-action="decrease"]').removeClass('inactive');
            if ($button.data('action') == "increase") {

                if (currentSoapTotal != window.chooseSoapNumber) {
                    if (oldValue <= quantityLimit) {
                        var newVal = parseFloat(oldValue) + 1;
                    } else {
                        newVal = oldValue;
                    }
                    $button.parent().find('.quantity').val(newVal);
                }

            } else {
                // Don't allow decrementing below 0
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                    $button.addClass('inactive');
                }
                $button.parent().find('.quantity').val(newVal);
            }
            e.preventDefault();

        });
    </script>

    <script>
        function hasUserSelectedSoapTypes() {
            var hasSelectedSoapTypes = false;
            var currentSoapTotal = $('.quantity').toArray().map((e) => parseInt($(e).val())).reduce((t, n) => t + n);
            if (currentSoapTotal == window.chooseSoapNumber) {
                hasSelectedSoapTypes = true;
            }
            return hasSelectedSoapTypes;
        }

        function addToCartAndCheckout() {

            // Get the shipping frequency and soap quantity selected values
            var soapShippingFrequeValue = $('[data-field=shipping_interval_frequency].selected').data("value").toString();
            var soapQuantitySelectedValue = $('[data-field=soap_per_month].selected').data("value").toString();

            // Get the correct variant for the soap boxes
            var soapBoxVariant;
            if (soapShippingFrequeValue == "1") {
                //Shipping is Monthly
                switch (soapQuantitySelectedValue) {
                    case '1':
                        soapBoxVariant = 850570379277;
                        break;
                    case '2':
                        soapBoxVariant = 850592628749;
                        break;
                    case '3':
                        soapBoxVariant = 850598952973;
                        break;
                    case '4':
                        soapBoxVariant = 850613338125;
                        break;
                }


            } else {
                // Shipping is quarterly soap box 
                switch (soapQuantitySelectedValue) {
                    case '1':
                        soapBoxVariant = 403243696141;
                        break;
                    case '2':
                        soapBoxVariant = 656528539661;
                        break;
                    case '3':
                        soapBoxVariant = 656528572429;
                        break;
                    case '4':
                        soapBoxVariant = 656528605197;
                        break;
                }
            }


            var soapTypeInputs = $(".quantity");
            var soapPropertiesTotal = "";
            for (var input = 0; input < soapTypeInputs.length; input++) {
                var soapAmount = $(soapTypeInputs[input]).val();
                var soapName = $(soapTypeInputs[input]).attr("name");

                if (soapAmount != 0) {

                    var soapVar = "Soap type: " + soapName + ", Soap Quantity: " + soapAmount;

                    soapPropertiesTotal = soapPropertiesTotal + soapVar + "; ";
                } else {
                    console.log('soap amount is ZERO');
                }
            }

            // build the data to send to recharge
            rechargeData = {
                "quantity": 1,
                "id": soapBoxVariant,
                "properties[shipping_interval_frequency]": soapShippingFrequeValue,
                "properties[shipping_interval_unit_type]": "Months",
                "properties[charge_interval_frequency]": soapShippingFrequeValue,
                "properties[charge_interval_unit_type]": "Months",
                "properties[subscription_id]": "89092",
                "properties[soap_types]": soapPropertiesTotal
            }

            // Make the AJAX call and submit the POST
            $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                dataType: 'json',
                data: rechargeData,
                success: function() {
                    window.location.href = '/cart';
                },
                error: function() {
                    console.log('error');
                }
            });
        };


        jQuery("form[action='/cart/add'] [type=submit]").on("click", function(e) {

            e.preventDefault();

            // if the user has not selected all of the soap types, display an alert
            if (!hasUserSelectedSoapTypes()) {
                alert('Please select a total of ' + window.chooseSoapNumber + ' soaps');
            } else {
                // Loop to see if any extra's were added - then process subscription box
                checkForAddOnItemsAndProcess();
            }

        });

        //The function below checks to see if any extra items were added 
        function checkForAddOnItemsAndProcess() {
            var extrasArray = new Array();

            // If add on's were added, add them to an array to submit to the checkout
            $(".addExtraItemToCart").each(function() {
                var $eachExtraButton = $(this);

                if ($eachExtraButton.hasClass('AddExtraButtonClicked')) {
                    var extraButtonValueId = $eachExtraButton.val();

                    // Push the add on to another array. hardcode only 1 for quantity. 
                    extrasArray.push({
                        variant_id: extraButtonValueId,
                        quantity_id: 1
                    });
                }

            });

            // This function loops through the extras array and submits a POST call to shopify to add item to cart
            function processAddOnItems() {
                if (extrasArray.length) {
                    var request = extrasArray.shift();
                    var tempId = request.variant_id;
                    var tempQty = request.quantity_id;

                    extrasData = {
                        "quantity": tempQty,
                        "id": tempId
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/cart/add.js',
                        dataType: 'json',
                        data: extrasData,
                        success: function() {
                            // Success! now run again.
                            processAddOnItems();

                        },
                        error: function() {
                            //if an error occurs, just keep going.
                            processAddOnItems();
                        }
                    });

                } else {
                    // Since no extras were added, proceed to normal checkout
                    addToCartAndCheckout();
                }
            }
            // execute the function
            processAddOnItems();

        }
    </script>

    <script>
        var chooseSoapNumber = 6;
        (function($) {
            'use strict';

            function goTo($fieldset) {
                $('html, body').animate({
                    scrollTop: $fieldset.offset().top - 62
                }, 1000);
            }

            function indexFieldsets() {
                $('.advanced-subscription-fieldset-legend:visible').each(function(index, legend) {
                    var $legend = $(legend);
                    $legend.find('span.index').remove();
                    $legend.prepend('<span class="index">' + (++index) + '. <span>');
                });
            }
            indexFieldsets();

            function handleSingleSelect($option, field, value, associatedVariantField, associatedVariantValue) {

                // If the item is already selected, ignore it
                if ($option.hasClass('selected')) {
                    return;
                }

                /* unselect other options and select clicked one */
                $option.parents('.advanced-subscription-fieldset').find('.advanced-subscription-option').removeClass('selected');
                $option.addClass('selected');

                // UPDATE THE CHOOSE SOAP NUMBER
                var soapShippingFrequeValue = $('[data-field=shipping_interval_frequency].selected').data("value").toString();
                var soapQuantitySelectedValue = $('[data-field=soap_per_month].selected').data("value").toString();

                // Calculate how many soaps the customer can select
                if (soapShippingFrequeValue == "1") {
                    //Shipping is Monthly
                    switch (soapQuantitySelectedValue) {
                        case '1':
                            chooseSoapNumber = 1;
                            break;
                        case '2':
                            chooseSoapNumber = 2;
                            break;
                        case '3':
                            chooseSoapNumber = 3;
                            break;
                        case '4':
                            chooseSoapNumber = 4;
                            break;
                    }

                } else {
                    // Shipping is quarterly soap box 
                    switch (soapQuantitySelectedValue) {
                        case '1':
                            chooseSoapNumber = 3;
                            break;
                        case '2':
                            chooseSoapNumber = 6;
                            break;
                        case '3':
                            chooseSoapNumber = 9;
                            break;
                        case '4':
                            chooseSoapNumber = 12;
                            break;
                    }
                }
                // Update the soap quantity number
                $(".soap-quantity-number").text(chooseSoapNumber);

                var $next = $option.parents('.advanced-subscription-fieldset').next();

                window.setTimeout(function() {
                    goTo($next);
                }, 200);
            }

            $('.advanced-subscription-option').on('click', function() {

                var $option = $(this),
                    field = $option.data('field'),
                    value = $option.data('value'),
                    multiple = $option.data('multiple'),
                    isDefault = $option.data('default'),
                    associatedVariantField = $option.data('associated-variant-field'),
                    associatedVariantValue = $option.data('associated-variant-value');


                
                // If the class doesn't have soap, proceed. otherwise skip the select
                if(!$option.hasClass('soaps')) {
                    handleSingleSelect($option, field, value, associatedVariantField, associatedVariantValue);
                }
                

            });

        }(jQuery));
    </script>

</main>